footer{
	height: 30vh;
}

footer > .text-content{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	color: white;
}

.footer-logo-1{
	float: left;
}

.footer-logo-2{
	float: right;
}

.footer-text-1{
	 margin-left: 10%;
	 text-align: left;
}

.footer-text-2{
	margin-right: 1em;
	text-align: right;
	float: right;
	margin-top: -7.5em;
}

.footer-text-2 > a {
	color: #fff;
	vertical-align: center;
}

.log-in{
	color: #fff;
	text-align: left;
	margin-right: 5em;
}

.log-in > a{
	color: #fff;
}