@import '../1-tools/_fonts.css';

header{
	width: 100%;
	background: rgba(153,153,153,.3);
	font-family: 'Conv_BebasNeue Regular';
	display: inline-block;
	position: fixed;
	z-index: 999;
}

nav{
	font-size: 3em;
	color: #fff;
	vertical-align: text-center;
	margin-top: 0.25em;
	padding: 1%, 0, 2%, 0;
} 

nav ul {
  	list-style: none;
  	text-align: center;
  	padding: 0;
  	margin: 0;
}
nav li {
  	display: inline;
  	padding-right: 0.25em;
  	padding-left: 0.25em;
}

nav li:nth-child(1){
	padding-left: none;
}

nav li:nth-last-child(1){
	padding-right: none;
}
 
nav a {
  	text-decoration: none;
	color: #fff;
	display: inline;
	transition: .3s color;
}
 
nav a:hover {
	color: #C0C0C0 ;
}

.logo{
	display: inline-block;
	float: left;
	/*clip: rect(0.1em, 3.9em, 3.9em, 0.1em);*/
    height: 3.5em;
    width: 3.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-left: 2em;
    background-image: url(../../img/scout-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}