h1{
	margin: 0;
	padding: 0;
}

.hero-container{
  position: relative;
}

.group-title{
  background: url('../../../img/hallbookings-background.png');
	font-family: 'helvetica_neueregular';
	font-size: 6rem;
	color: #fff;
	/*float: top;*/
  z-index: 999;
  position: absolute;
  top: 50%;
	-webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  /*margin-top: 167vh;*/
  text-align: center;
}

