.section-hallbookings{
	background: url('../../../img/hallbookings-background.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	/*z-index: 999;*/
	/*margin-top: 0vh;*/
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.section-hallbookings > .group-title{
	/*margin-top: -23%; */
	top: 3rem;
}

.section-hallbookings > .text-content > .hallbookings-about{
	color: #fff;
}

.section-hallbookings > .text-content > .hallbookings-calendar{
	background: rgba(153,153,153,.4);
	width: 100%;
	height: 60vh;
}