.section-scouts{
	background-color: #8ece9e;
	/*z-index: 999;*/
	/*margin-top: 0vh;*/
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.scouts-about{
	color: #fff;
	font-size: 1.3rem;
}

/*.section-scouts > .text-content > .arrow-down{
	margin-top: 3.5vh; 
}

.section-scouts > .hero-container > .group-title{
	margin-top: 370vh;
}*/

.section-scouts > .hero-container > .groups-hero{
	top: 10%;
  	-webkit-transform: translateY(-10%);
  	-ms-transform: translateY(-10%);
  	transform: translateY(-10%);
}